* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "Merriweather", serif;
  background-color: #e6eae7;
  --mainBG: rgb(250, 223, 223);
  --secondBG: #425c4b;
  --lightBG2: #f7f8f7;
  --mainFnt: #15231a;
  --highlightFnt: #8c1d2b;
  --leftPadAll: 1em;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
}

.navbar {
  display: block;
  min-height: 4vw;
  margin: 0.25em;
}
.title {
  display: inline-block;
  background-color: var(--secondBG);
  padding: 0.1em 0 0 0.1em;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.5em;
  font-size: 28px;
  width: 90vw;
  text-align: start;
}

.linksList {
  width: 85vw;
  text-align: left;
  color: var(--highlightFnt);
  background-color: var(--lightBG2);
}

.linksList > li > a {
  color: var(--mainFnt);
  font-weight: 500;
  font-size: 20px;
  padding-left: 0.25em;
  text-align: left;
  background-color: var(--lightBG2);
}
.linksList > li > a:hover {
  color: var(--highlightFnt);
  font-weight: 700;
}
.linksList > li {
  color: var(--mainFnt);
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding: 0.1em 0 0.25em 0;

  background-color: var(--lightBG2);
}

.productivityIcon {
  height: 1.2em;
  background-color: transparent;
  transform: translateY(0.2em);
  padding-left: 3px;
}
